listen: :53

tls:
  cert: /etc/hysteria/certs/cert.pem
  key: /etc/hysteria/certs/key.pem

auth:
  type: password
  password: "CHANGE_ME_HY2_PASSWORD"

obfs:
  type: salamander
  salamander:
    password: "CHANGE_ME_SALAMANDER"

masquerade:
  type: proxy
  proxy:
    url: https://yandex.ru/
    rewriteHost: true

ignoreClientBandwidth: true

ping: 5s

quic:
  initStreamReceiveWindow: 8388608
  maxStreamReceiveWindow: 8388608
  initConnReceiveWindow: 20971520
  maxConnReceiveWindow: 20971520
  maxIdleTimeout: 30s
  maxIncomingStreams: 4096
  disablePathMTUDiscovery: false

udpIdleTimeout: 30s

resolver:
  type: udp
  udp:
    addr: 77.88.8.8:53
    timeout: 4s
